$gBug = 'Bug';
$gBugs = 'Bugs';
$gConfigDir = "/etc/debbugs";				# directory where this file is
$gSpoolDir = "/var/lib/debbugs/spool";			# working directory
$gIncomingDir = "incoming";				# unprocessed e-mails
$gWebDir = "/var/lib/debbugs/www";			# base location of web pages
$gDocDir = "/var/lib/debbugs/www/txt";			# location of text doc files

# Domains
$gEmailDomain = "{{ hostname }}";			# e.g. bugs.debian.org
# $gListDomain = "lists.something";			# e.g. lists.debian.org
$gWebHost = "http://{{ hostname }}";				# e.g. www.debian.org
$gWebHostBugDir = "";				# e.g. Bugs
# For now, don't change this one manually!
$gWebDomain = "$gWebHost/$gWebHostBugDir";
$gHTMLSuffix = ".html";
$gCGIDomain = "$gWebDomain";			# e.g. cgi.debian.org
$gMirrors = "";						# comma separated list
# $gPackagePages = "packages.debian.org";                 # e.g. packages.debian.org
# $gSubscriptionDomain = "packages.something";		# e.g. packages.qa.debian.org
# $gBugSubscriptionDomain = "";                           # e.g. lists.debian.org (requires one list per bug
                                                        #      of the name bugs=<bugno>@<gBugSubscriptionDomain>
# Project identification
$gProject = "Something";				# e.g. Debian
$gProjectTitle = "Something DebBugs Test";		# e.g. Debian GNU/Linux
# Person(s) responsible for this installation
$gMaintainer = "Local DebBugs Owner";			# e.g. Ian Jackson
$gMaintainerWebpage = "http://localhost/~owner";	# e.g. http://www.debian.org/~iwj
$gMaintainerEmail = "root\@ies.iu";			# e.g. owner@bugs.debian.org
$gUnknownMaintainerEmail = "$gMaintainerEmail";		# e.g. unknown-package@qa.debian.org

# BTS mailing lists, at $gListDomain
# if you don't want lists, set them all to $gMaintainerEmail
# if you don't want that mail at all, filter it out somehow :)
$gSubmitList = "bug-submit-list";		# e.g. debian-bugs-dist
$gMaintList = "bug-maint-list";			# e.g. debian-bugs-dist
$gQuietList = "bug-quiet-list";			# e.g. debian-bugs-dist
$gForwardList = "bug-forward-list";		# e.g. debian-bugs-forwarded
$gDoneList = "bug-done-list";			# e.g. debian-bugs-closed
$gRequestList = "bug-request-list";		# e.g. debian-bugs-dist
$gSubmitterList = "bug-submitter-list";		# e.g. debian-bugs-dist
$gStrongList = "bug-strong-list";		# e.g. debian-bugs-dist
$gControlList = "bug-control-list";		# e.g. debian-bugs-dist
$gSummaryList = "bug-summary-list";		# e.g. debian-bugs-reports
$gMirrorList = "bug-mirrors-list";		# sends to all mirrors

# Various configurable options
$gMailer = "exim";				# valid: exim, qmail and sendmail

$gDefaultSeverity = "normal";
$gShowSeverities = "critical, grave, normal, minor, wishlist";
@gStrongSeverities = ( 'critical', 'grave' );
@gSeverityList = ( 'critical', 'grave', 'normal', 'wishlist' );
%gSeverityDisplay = ( 'critical', "Critical $gBugs",
                      'grave', "Grave $gBugs",
                      'normal', "Normal $gBugs",
                      'wishlist', "Wishlist items" );
@gTags = ( 'patch', 'wontfix', 'moreinfo', 'unreproducible', 'fixed', 'stable' );

# Required data files
$gMaintainerFile = "$gConfigDir/Maintainers";
$gMaintainerFileOverride = "$gConfigDir/Maintainers.override";
$gPseudoDescFile = "$gConfigDir/pseudo-packages.description";
$gPackageSource = "$gConfigDir/indices/sources";

1;
# vim: ft=perl
