<VirtualHost *>
	ServerName <<< hostname >>>
	ServerAdmin owner@bugs.debian.org
	DocumentRoot /var/lib/debbugs/www/

	ErrorLog /var/log/apache2/debbugs-error.log
	CustomLog /var/log/apache2/debbugs-access.log combined

	<Directory /var/lib/debbugs/www>
		Options Indexes SymLinksIfOwnerMatch MultiViews
		DirectoryIndex index.html
		Require all granted
	</Directory>

	ScriptAlias /cgi-bin/ /var/lib/debbugs/www/cgi/
	<Directory "/var/lib/debbugs/www/cgi/">
		AllowOverride None
		Options ExecCGI SymLinksIfOwnerMatch
		Require all granted
    </Directory>

	RewriteEngine on
	RewriteCond %{HTTP_USER_AGENT} .*apt-listbugs.*
	RewriteRule .* /apt-listbugs.html [R,L]


	RewriteRule ^/?$ /index.html [L]
	RewriteRule ^/(.*\.cgi) /cgi-bin/$1 [PT,NE]
	RewriteRule ^/(robots\.txt|release-critical|apt-listbugs\.html)$ - [L]
# The following two redirect to up-to-date pages
	RewriteRule ^/[[:space:]]*#?([[:digit:]][[:digit:]][[:digit:]]+)([;&].+)?$ /cgi-bin/bugreport.cgi?bug=$1$2 [L,R,NE]
	RewriteRule ^/([^/+]*)([+])([^/]*)$ "/$1%%{%}2B$3" [N]
	RewriteRule ^/[Ff][Rr][Oo][Mm]:([^/]+\@.+)$ /cgi-bin/pkgreport.cgi?submitter=$1 [PT,NE]
# Commented out, 'cuz aj says it will crash master. (old master)
# RewriteRule ^/[Ss][Ee][Vv][Ee][Rr][Ii][Tt][Yy]:([^/]+\@.+)$ /cgi-bin/pkgreport.cgi?severity=$1 [L,R]
	RewriteRule ^/([^/]+\@.+)$ /cgi-bin/pkgreport.cgi?maint=$1 [PT,NE]
	RewriteRule ^/mbox:([[:digit:]][[:digit:]][[:digit:]]+)([;&].+)?$ /cgi-bin/bugreport.cgi?mbox=yes&bug=$1$2 [PT,NE]
	RewriteRule ^/src:([^/]+)$ /cgi-bin/pkgreport.cgi?src=$1 [PT,NE]
	RewriteRule ^/severity:([^/]+)$ /cgi-bin/pkgreport.cgi?severity=$1 [PT,NE]
	RewriteRule ^/tag:([^/]+)$ /cgi-bin/pkgreport.cgi?tag=$1 [PT,NE]
# RewriteMap fix-chars	int:noescape
	RewriteCond %{REQUEST_URI} ^/(Access\.html|Developer\.html|Reporting\.html|server-request\.html|server-control\.html|server-refcard\.html).* [NC]
	RewriteRule .* - [L]
# PT|passthrough to bugreport.cgi and pkgreport.cgi
	RewriteRule ^/([0-9]+)$ /cgi-bin/bugreport.cgi?bug=$1 [PT,NE]
	RewriteRule ^/([^/]+)$ /cgi-bin/pkgreport.cgi?pkg=$1 [PT,NE]
</VirtualHost>
# vim: ft=apache:ts=4:noet:sts=4:sw=4
